body {
    margin: 0;
    font-family: Hind;
}

.randQuotesApp {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
}

#quote-box {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 50px;
    color: #2c3e50;
    background-color: #fff;
    border-radius: 3px;
}

#new-quote {
    background: #2c3e50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
}

#text {
    text-align: center;
    font-size: 2em;
}

#author {
    text-align: right;
    margin-top: 20px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#tweet-quote {
    background: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
}